* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html,
body {
  max-width: 612px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;

}

.root {
  margin: 70px auto;
  padding-bottom: 70px;
  height: fit-content;
}

header {
  background-color: #c3cfd9;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header h1 {
  color: #e8833a;
}
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage span {
  margin: 40px;
  font-size: 30px;
}
.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  max-width: 612px;
}
.movie-list img {
  height: 200px;
}
.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}
.movie-container > p {
  font-size: 30px;
  margin: 50px 0 60px 0;
}
.movie-time {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.day span {
  font-size: 24px;
  margin-left: 20px;
}
.day > div {
  display: flex;
}
.day div > p {
  background-color: #e8833a;
  margin: 20px;
  font-size: 20px;
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}
footer {
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: #dfe6ed;
  display: flex;
  align-items: center;
  font-size: 30px;
}
footer img {
  height: 110px;
  padding-left: 20px;
  margin-right: 30px;
}
.seat-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seat-page > p {
  font-size: 30px;
  margin: 40px 0 20px 0;
}
.seats {
  max-width: 612px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  padding: 30px 20px;
  gap: 10px;
}
.seats span {
  width: 30px;
  background-color: red;
  height: 30px;
  text-align: center;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
}
.subtitles div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.subtitles div h6 {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 100px;
}
.subtitles div:nth-child(1) h6 {
  background-color: #8dd7cf;
}
.subtitles div:nth-child(2) h6 {
  background-color: #c3cfd9;
}
.subtitles div:nth-child(3) h6 {
  background-color: #FBE192;
}
