* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html,
body {
  max-width: 612px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;

}

.root {
  margin: 70px auto;
  padding-bottom: 70px;
  height: fit-content;
}

header {
  background-color: #c3cfd9;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header h1 {
  color: #e8833a;
}
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage span {
  margin: 40px;
  font-size: 30px;
}
.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  max-width: 612px;
}
.movie-list img {
  height: 200px;
}

